<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cat>
            <cat_opinion>
                <picture_text>Ala ma kota</picture_text>
            </cat_opinion>
        </cat>
    </default>
</config>
